/* applies all the listed CSS properties below to HTML page*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* sets body background to #ffffff color*/
body {
  background-color: #ffffff;
}
/* applies all the CSS property below to the header element  */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* created an id wrapper to add some CSS property to the header*/
#wrapper {
  margin: auto;
  width: 100%;
  border-bottom: 10px solid #5c7fa3;
}
/*added pseudo-class*/
nav a {
  text-decoration: none;
}
nav a:link {
  color: #5c7fa3;
}
nav a:visited {
  color: #fff;
}
nav a:hover {
  color: rgb(17, 65, 153);
}
.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo {
  color: #d9dcd6;
}

/* replaced div element to nav element */
.header nav {
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  padding-top: 15px;
  margin-right: 20px;
}

/* replaced div element to nav element*/
.header nav ul {
  list-style-type: none;
}
/* replaced div element to nav element*/
.header nav ul li {
  display: inline-block;
  margin-left: 20px;
}
/* set the anchor link to be #ffffff color */
a {
  color: #ffffff;
  text-decoration: none;
}
/* set p element font size to be 16px*/
p {
  font-size: 16px;
}
/* This is the main image configuration */
.hero {
  height: 600px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center; /* border-bottom: 10px solid #5c7fa3; */
}
/* sets margin and position */
.float-left {
  float: left;
  margin-right: 25px;
}
/* sets margin and position */
.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 70%;
  display: inline-block;
  margin-left: 15px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/* consolidated all benefit classes
.benefit-lead,
.benefit-brand,
.benefit-cost  to .benefit-section class*/
.benefit-section {
  margin-bottom: 40px; /* mb40px */
  color: #ffffff;
}
/* consolidated all benefit h3 classes
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 to benefit-section h3 class*/
.benefit-section h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* consolidated all benefit img classes
.benefit-lead img,
.benefit-brand img,
.benefit-cost img to benefit-section img class */
.benefit-section img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing */
.section {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  width: 110%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img */
.section img {
  max-height: 200px;
}
/*
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 */
.section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* bottom of the webpage */
.footer {
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-style: italic;
  /* background-color: #2a607c; */
  color: black;
  /* border-top: 10px solid #5c7fa3; bt-10px-solid-#5c7fa3 */
}

/* changed footer h2 to footer h3 */
.footer h3 {
  font-size: 20px;
  font-style: normal;
}
